<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.filmstarts">
		<category id="allgemein" label="30000" help="">
			<group id="1" label="30230">
				<setting id="show_homebutton" type="boolean" label="30110" help="30350">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="button_place" type="integer" label="30111" help="30350" parent="show_homebutton">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30112">0</option>
							<option label="30113">1</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="show_homebutton">true</condition>
						</dependency>
					</dependencies>
					<control type="list" format="string">
						<heading>30111</heading>
					</control>
				</setting>
			</group>
			<group id="2"/>
			<group id="3" label="30231">
				<setting id="forward_backward" type="boolean" label="30114" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="4"/>
			<group id="5" label="30232">
				<setting id="use_fanart" type="boolean" label="30115" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="fortgeschritten" label="30001" help="">
			<group id="1" label="30233">
				<setting id="show_settings" type="boolean" label="30116" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2"/>
			<group id="3" label="30234">
				<setting id="enable_debug" type="boolean" label="30117" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
